<h1>Saketram Durbha</h1>

<p>Hello! Welcome to my website -- it's nice to meet you.</p>

<h1>Career</h1>

I've interned at:

<ul>
  <li>Google</li>
  <li>National Institute of Standards and Technology</li>
</ul>

<h1>Projects</h1>

I've worked on:

<ul>
  <li>Fairview Web Team (<a href="https://fairviewhs.org">https://fairviewhs.org</a>)</li>
  <li>Fairview Robotics Team</li>
</ul>

<h1>Education</h1>

<p>I've studied at:</p>

<ul>
  <li>University of Wisconsin-Madison (exp. Dec 2021)</li>
  <li>Fairview High School (May 2018)</li>
</ul>

<router-outlet></router-outlet>
